
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
h2 {
  color: #00C16D;
}
button {
  background-color: #00C16D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}