html {
  scroll-behavior: smooth;
}
.hero-section {
  position: relative;
  width: 100%;
  background: url("/img/bg/hero.png") no-repeat center center;
  background-size: cover;
}

.hero-section .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* black 50% */
  z-index: -1;
}

/* Make sure navbar is above overlay */
.hero-section nav {
  position: relative;
  z-index: 2;
  background: transparent; /* let bg show */
}
.nav-item>a {
  color: #ECF0FF;
}

.hero-text{
  color:#fff
}
.hero-section  {z-index: 5;}
